@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Frijole|Mountains+of+Christmas');
.navbar {
    width: 100%;
    height: 150px;
    background: #f4e123; 
}

#logo {
    width: 175px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

header.AppBarMUI{
    height: 75px !important;
    padding-top: 1% !important;
   }

@media screen and (max-width: 640px) {
    #tag {
        font-family: "Frijole";
        color: white;
        letter-spacing: 5px;
        font-size: 30px;
        justify-content: center;
    }
    header.AppBarMUI{
        height: 375px !important;
        padding-top: 0 !important;
       }
}

@media screen and (max-width: 768px) {
    #tag {
        font-family: "Frijole";
        color: white;
        letter-spacing: 5px;
        font-size: 35px;
        justify-content: center;
        margin-left: 100px;
    }
    header.AppBarMUI{
        height: 175px !important;
        padding-top: 1% !important;
       }
}

@media screen and (min-width: 980px) {
    #tag {
        font-family: "Frijole";
        color: white;
        letter-spacing: 15px;
        font-size: 35px;
        justify-content: center;
        margin-left: 100px;
    }
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-left: 1em;
    color: rgba(231, 33, 43, .9);
    font-weight: bold;
}

